/* Página Contacto */

@for $in from 1 through 3 {
  .seccionContacto-#{$in} {
    background-color: lighten($colorseccionverde, $in * 10%);
  }
}

.tituloContacto {
  @extend .textShadow;
  font-size: 50px;
  font-style: italic;
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 2%;
}

/* Inicio Carousel */

.carousel-caption {
  @extend .textShadow;
  color: $color2;
  font-style: italic;

  p {
    @extend .textShadow;
    color: $color2;
    font-size: 50px;
    font-style: italic;
  }
}

/* Fin Carousel */

/* Inicio Sección Subtitulo Contacto */

.subtituloContacto {
  background-color: $colorseccionrosa;
  border-bottom-style: solid;
  border-top-style: solid;
  padding-top: 3%;
  padding-bottom: 3%;

  h3 {
    @extend .textShadow;
    font-size: 40px;
    font-style: italic;
    text-align: center;
  }

  p {
    @extend .textShadow;
    font-style: italic;
    text-align: center;
  }
}

/* Fin Sección Subtitulo Contacto */

/* Inicio Sección Contacto - Datos de la Empresa */

.seccionContacto-1 {
  @extend .textShadow;
  border-bottom: solid;

  ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0%;

    li {
      @extend .textShadow;
      font-size: 23px;
      font-style: italic;
      line-height: 50px;
    }
  }
}

/* Fin Sección Contacto - Datos de la Empresa */

/* Inicio Sección Contacto - Datos del Cliente */

.seccionContacto-2 {
  @extend .textShadow;
  border-bottom: solid;

  p {
    font-size: 20px;
    font-style: italic;
    text-align: center;
    line-height: 30px;
  }

  div {
    min-width: 320px;
    form {
      font-size: 21px;
      font-style: italic;
      line-height: 50px;
      align-items: center;
    }
  }
  
}

/* Fin Sección Contacto - Datos del Cliente */