/* Sección Footer */

footer {
  height: auto;
}

/* Inicio Footer Sección Suscripción */

.footerSuscripcion {
  width: 100%;
  height: auto;
  background: linear-gradient($colorseccionrosa 30%, $colorseccionverde);
  border-bottom-style: solid;

  h3 {
    width: 100%;
    height: auto;
    font-size: 30px;
    text-shadow: 1px 1px 2px #000000;
    font-style: italic;
    text-align: center;
    line-height: 100%;
    margin-top: 2%;
  }

  p {
    @extend .textShadow;
    width: 100%;
    height: auto;
    font-size: 17px;
    text-align: center;
  }

  label {
    text-align: center;
  }
}

.ingresoMail {
  text-align: center;
  margin-bottom: 2%;
}

.barraMail {
  padding-bottom: 1%;
}

.email {
  width: 18em;
  padding-top: 0.5%;
  text-align: center;
}

.botonSubmit {
  width: 4em;
}

/* Fin Footer Sección Suscripción */

/* Inicio Footer Sección Servicios */

.footerServicios {
  width: 100%;
  height: auto;
  display: flex;
  border-bottom-style: solid;
  font-style: italic;
}

.contenidoItem {
  color: $color2;
  margin-right: 5%;

  h3 {
    @extend .textShadow;
    color: $color2;
    text-align: center;
  }

  ul {
    color: $color2;
    list-style-type: none;

    li {
      @extend .textShadow;
      padding-bottom: 2px;
      font-size: 1.2em;
    }
  }
}

/* Fin Footer Sección Servicios */

/* Inicio Footer Sección Redes Sociales */

.footerRedes {
  width: 100%;
  height: auto;
  display: flex;
}

.footerRedesIzquierda {
  width: 50%;
  height: auto;
  background: linear-gradient($colorseccionverde 20%, $colorseccionrosa);

  p {
    padding-left: 5%;
    padding-top: 1%;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
  }
}

.footerRedesDerecha {
  width: 50%;
  height: auto;
  background: linear-gradient($colorseccionverde 20%, $colorseccionrosa);
  justify-content: flex-end;
  align-items: center;

  img {
    height: 30px;
    padding: .3rem;
    margin-right: 5%;
  }
}

/* Fin Footer Sección Redes Sociales */