/* Sección Header */

.imgLogo {
  width: 6em;
  height: auto;
}

.imgLogo:hover {
  transform: rotate(25deg);
}

#nombreEmpresa {
  font-family: "Michroma", sans-serif;
  color: $color1;
  font-weight: 60;
  font-weight: bold;
  text-align: center;
  font-size: 1.8em;
  align-items: center;
  text-shadow: 1px 1px 2px #000000;
}

.menu {
  color: $color1;
  text-shadow: 1px 1px 2px #000000;
  font-style: italic;
  text-align: center;
  background: linear-gradient($colorseccionrosa 30%, $colorseccionverde);
}

.menuPrincipalNavegable {
  list-style-type: none;

  ul {
    li {
      a {
        color: $color2;
        font-size: 1.3em;
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        justify-content: center;
        background: linear-gradient($colorseccionrosa 30%, $colorseccionverde);
      }
    }
  }
}

.navbar-brand {
  color: $color2 !important;
}

.menuPrincipalNavegable li a:hover {
  color: $colorseccionverde;
}

.navbarIcon {
  background-image: url("archivos multimedia/menu.png");
}

nav div button {
  color: $color2;
}

nav {
  border-bottom-style: solid;
  border-bottom-color: black;
}

.search {
  text-align: center;

  input {
    border: 1px solid;
  }

  button {
    text-align: center;
    padding-top: 0%;
  }
}