/* Página Inicial */

/* Inicio Sección Nuevo Lanzamiento */

.seccionNuevoLanzamiento {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "imagenNuevoLanzamiento seccionNuevoLanzamientoTexto"
    "imagenNuevoLanzamiento seccionNuevoLanzamientoTexto";
  border-bottom-style: solid;
}

.imagenNuevoLanzamiento {
  max-width: 100%;
  grid-area: imagenNuevoLanzamiento;
  text-align: center;
}

.imagenNuevoLanzamiento img:hover {
  transform: scale(0.9);
}

.seccionNuevoLanzamientoTexto {
  text-align: center;
  grid-area: seccionNuevoLanzamientoTexto;

  h2 {
    @extend .textShadow;
    font-size: 3em;
    font-style: italic;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  p {
    @extend .textShadow;
    font-size: 1.313em;
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* Fin Sección Nuevo Lanzamiento */

/* Inicio Sección Productos Principales */

.seccionPrincipalesProductos {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "tituloProductosPrincipales tituloProductosPrincipales"
    "contenedorProductoGloss contenedorProductoFragancia";
  background-color: $colorseccionrosa;
  border-bottom-style: solid;

  h2 {
    @extend .textShadow;
    font-size: 2.813em;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
}

.tituloProductosPrincipales {
  grid-area: tituloProductosPrincipales;
  padding-top: 1%;
  padding-bottom: 1%;
}

.contenedorProductoGloss {
  grid-area: contenedorProductoGloss;

  img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: auto;
    border-style: outset;
    border-color: #da1540;
  }

  h4 {
    @extend .textShadow;
    text-align: center;
    font-size: 1.6em;
    font-style: italic;
    padding-top: 3%;
  }

  p {
    @extend .textShadow;
    text-align: center;
    font-size: 1.125em;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 2%;
  }
}

.contenedorProductoFragancia {
  grid-area: contenedorProductoFragancia;

  img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: auto;
    border-style: outset;
    border-color: #da1540;
  }

  h4 {
    @extend .textShadow;
    text-align: center;
    font-size: 1.6em;
    font-style: italic;
    padding-top: 3%;
  }

  p {
    @extend .textShadow;
    text-align: center;
    font-size: 1.125em;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 2%;
  }
}

/* Fin Sección Productos Principales */

/* Inicio Sección Videos Tutoriales */

.seccionVideosTutoriales {
  border-bottom-style: solid;

  h2 {
    @extend .textShadow;
    font-size: 2.813em;
    padding-top: 3%;
    text-align: center;
    font-style: italic;
  }

  div {
    width: auto;
    padding-bottom: 2%;
    display: flex;
    justify-content: space-evenly;

    iframe {
      width: 450px;
      height: 300px;
      display: inline;
      align-items: center;
      margin-top: 3%;
    }
  }
}

/* Fin Sección Videos Tutoriales */