@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");

* {
  padding: 0;
  margin: 0;
}

$color1: #fd2913;
$color2: #fd1515;
$colorseccionrosa: hsl(6, 78%, 66%);
$colorseccionverde: #53DCD2;
$width: 100%;

@media (max-width: 320px) {
  .imagenNuevoLanzamiento {
    img {
      width: 100%;
    }
  }

  .contenidoSubItem {
    display: none;
  }

  .botomSubmit {
    width: 30%;
  }

  .imgFraganciasOrden {
    display: none;
  }

  .gallery {
    display: none;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .contenidoSubItem {
    display: none;
  }

  .imgFraganciasOrden {
    display: none;
  }

  .gallery {
    display: none;
  }
}

/* Inicio Grid Maquillaje */

@media all and (min-width: 320px) {
  .grid-gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media all and (min-width: 768px) {
  .grid-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media all and (min-width: 1024px) {
  .grid-gallery {
    grid-template-columns: repeat(3, 1fr);
  }

/* Fin Grid Maquillaje */}


/* Inicio CSS Genérico */

/* Mapa Colores */

$nombreProducto: (colorProducto1: #fd1515,
  colorProducto2: #48C9B0,
  colorProducto3: #ffaeae);

@each $colorProducto,
$color in $nombreProducto {
  .btn--#{$colorProducto} {
    color: $color;
    text-shadow: 1px 1px 2px #000000;
    font-size: 1.3rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
    border-top-color: black;
    border-bottom-color: black;
  }
}

.textShadow {
  text-shadow: 1px 1px 4px #000000;
}

body {
  font-family: sans-serif;
  background-image: url("archivos multimedia/fondoPagina.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fdfefe;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
}

h2,
h3,
h4 {
  color: $color2;
}

.tituloProductos {
  @extend .textShadow;
  font-size: 50px;
  font-style: italic;
  padding-top: 2%;
  padding-left: 5%;
  padding-bottom: 2%;
}

.seccionProductos {
  border-bottom-style: solid;
  padding-left: 5%;
  padding-right: 5%;
}

.card-body {
  background-color: #ffe6e3;
}

.texto {
  @extend .textShadow;
  font-style: italic;
}

/* Fin CSS Genérico */

@import "_header";
@import "_footer";
@import "_index";
@import "_maquillaje";
@import "_fragancias";
@import "_videosTutoriales";
@import "_skincare";
@import "_contacto";
@import "_error404";